@model ShopTARge24.Models.Kindergarten.KindergartenDetailsViewModel

<h1>Details</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />
        <dl class="row">
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Id)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.GroupName)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.KindergartenName)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.ChildrenCount)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="TeacherName" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.TeacherName)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.CreatedAt)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.UpdatedAt)
            </div>
        </dl>

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <dl class="row">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Image</label>
                    <img src="@Model.ImagePath" alt="Kindergarten Image" style="max-width:200px" />
                </div>
            </dl>
        }

        @if (Model.ImagePaths != null && Model.ImagePaths.Any())
        {
            <dl class="row">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gallery</label>
                    <div class="col-sm-10">
                        @foreach (var img in Model.ImagePaths)
                        {
                            <div style="display: inline-block; margin-right: 8px; margin-bottom: 8px; position: relative;">
                                <img src="@img" alt="Gallery Image" style="max-width:120px;" />
                            </div>
                        }
                    </div>
                </div>
            </dl>
        }

        <hr />
        <a asp-action="Index" asp-controller="kindergarten" class="btn btn-danger">Back</a>
</div>
